{% extends "layouts/profilelayout.html" %}
{% block title %}
Birim Profil
{% endblock %}

{% block content %}

<body style="padding-top: 120px;" >

    <h2> {{birimSelectedWithID.birim_adi}}-Düzenleme</h2>
    <div div style = font-size:20px; font-weight:bold; margin-left:150px;>
            <form  method="post" action="/edit_birim/{{id}}">
            <label>Yeni Birim Adı Gir:</label>
            <input id="birimwithidadi" name="birimwithidadi" value={{birimSelectedWithID.birim_adi}} type="text" />
            <input type="submit" value="Ekle" />
            </form>
    </div>

    <h2 style="color:red;"> {{birimSelectedWithID.birim_adi}}-Silme</h2>
    <div id="sil">
             <form action="{{ url_for('delete_birim', id=id ) }}" method="POST">
                <input type="hidden" name="_method"  Onclick="ConfirmDelete()" value="POST" />
                <input type="submit" value="Sil -- {{birimSelectedWithID.birim_adi}}" />
             </form>

    </div>


</body>
{% endblock %}