<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Profile| {{birimSelectedWithID.birim_adi}}</title>

    <script>
        function ConfirmDelete()
        {
             var x = confirm("Are you sure you want to delete?");
             if (x)
                return true;
             else
                return false;
}

    </script>

</head>
<body>



    <h2> {{birimSelectedWithID.birim_adi}}-Düzenleme</h2>
    <div>
            <form  method="post" action="/edit_birim/{{id}}">
            <label>Yeni Birim Adı Gir:</label>
            <input id="birimwithidadi" name="birimwithidadi" value={{birimSelectedWithID.birim_adi}} type="text" />
            <input type="submit" value="Ekle" />
            </form>
    </div>

    <h2 style="color:red;"> {{birimSelectedWithID.birim_adi}}-Silme</h2>
    <div id="sil">
             <form action="{{ url_for('delete_birim', id=id ) }}" method="POST">
                <input type="hidden" name="_method"  Onclick="ConfirmDelete()" value="POST" />
                <input type="submit" value="Sil -- {{birimSelectedWithID.birim_adi}}" />
             </form>

    </div>


</body>
</html>
