<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/layout/layout.xhtml">
	<ui:define name="pageContent">


{% extends "layouts/layout1.html" %}
{% block title %}
Our  Custom Title
{% endblock %}

{% block content %}

<!--http://stackoverflow.com/questions/16903605/hide-button-after-click-with-existing-form-on-page-->

 <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>
        /*

        if you prefer to functionize and use onclick= rather then the .on bind
        function hide_show(){
            $(this).hide();
            $("#hidden-div").show();
        }
        */

        $(function(){
            $("#chkbtn").on('click',function() {
                $(this).hide();
                $("#hidden-div").show();
            });
        });
    </script>



    <style>
    .hidden-div {
        display:none
    }
    </style>
    <style>
        body{background:rgb(215,215,255);
			 padding:15px 20px 10px 10px;
			 margin:auto;
             text-align:left;
		}
    </style>

    <script>
    function show() {
        if(document.getElementById('benefits').style.display=='none') {
            document.getElementById('benefits').style.display='block';
        }
        return false;
    }
    function hide() {
        if(document.getElementById('benefits').style.display=='block') {
            document.getElementById('benefits').style.display='none';
        }
        return false;
    }
    </script>

    </head>



 <div id="opener"><a href="#1" name="1" onclick="return show();">Birim Listesini Göster</a></div>
    <div id="benefits" style="display:none;">
           {% for item in birim %}

                <li class="list-group-item">{{item.id}}-{{item.birim_adi}}- <a href="/edit_birim/{{item.id}}"><button  type="button">Düzenle/Sil</button></a> </li>
           {% endfor %}

           <div id="upbutton"><a onclick="return hide();">Birim Listesini Gösterme</a></div>

    </div>






<body  style="padding-top: 120px;">
     <div id="content">
         <div id="left">
         <form method="post" action="/post_birim">
               <label>Birim Adı:</label>
               <input id="birim_adi" name="birim_adi" type="text" />
               <input type="submit" value="Ekle"/>
           </form>

        <span><button id="chkbtn">Birim Listesi</button></span>
        <div class="hidden-div" id="hidden-div">
            {% for item in birim %}
                <li class="list-group-item">{{item.id}}-{{item.birim_adi}}- <a href="/edit_birim/{{item.id}}"><button  type="button">Düzenle/Sil</button></a> </li>
           {% endfor %}
        </div>

        </div>
        <div >
        {% for user in istekSahibi %}
                <li>{{user.id}}-{{user.birim_adi}}-{{user.adi}}-{{user.soyadi}}</li>
        {% endfor %}

        </div>

        <div id="left">
         <form method="post" action="/post_isteksahibi">
               <label>İstek Sahibi Birim ID:</label>
               <select id="isteksahibi_birim_id" name="isteksahibi_birim_id">
               {% for item in birim %}
                   <option value="{{item.id}}">{{item.birim_adi}}</option>
               {% endfor %}
               </select>
               <label>İstek Sahibi Adı:</label>
               <input id="isteksahibi_adi" name="isteksahibi_adi" type="text" />
               <label>İstek Sahibi Soyadı:</label>
               <input id="isteksahibi_soyadi" name="isteksahibi_soyadi" type="text" />
             <input type="submit" value="Ekle" />

         </form>



         </div>

         <!-- This part create drop-down selectionlist-->
         <div>
         <form method="post" action="/post_birim">
             <select name="birim_adi">
             {% for p in birim %}
                <option value="{{ p.birim_adi }}">{{ p.birim_adi }}</option>
             {% endfor %}
             </select>
             <input type="submit" />
          </form>
          </div>
     </div>
     <div id="left">
         <form method="post" action="/post_veriformat">
               <label>Veri Format Adı:</label>
               <input id="veriformat_adi" name="veriformat_adi" type="text" />
               <label>Veri Format Kodu:</label>
               <input id="veriformat_kodu" name="veriformat_kodu" type="text" />
             <input type="submit" />
         </form>
     </div>
     {% for user in veriFormat %}
                <li>{{user.id}}-{{user.adi}}-{{user.kodu}}</li>
     {% endfor %}


      <div id="left">
         <form method="post" action="/post_verikoordinat">
               <label>Veri Koordinat ID:</label>
               <input id="verikoordinat_id" name="verikoordinat_id" type="text" />
               <label>Veri Koordinat Adı:</label>
               <input id="verikoordinat_adi" name="verikoordinat_adi" type="text" />
               <label>Veri Koordinat Kodu:</label>
               <input id="verikoordinat_kodu" name="verikoordinat_kodu" type="text" />
             <input type="submit" />
         </form>
      </div>
      {% for user in veriKoordinat %}
                <li>{{user.id}}-{{user.adi}}-{{user.kodu}}</li>
     {% endfor %}



     <div id="left">
         <form method="post" action="/post_istek">
               <label>İstek Sahibi ID:</label>
               <input id="isteksahibi_id" name="isteksahibi_id" type="text" />
               <label>İstek Adı:</label>
               <input id="istek_adi" name="istek_adi" type="text" />
               <label>Veri Format ID</label>
               <input id="veriformat_id" name="veriformat_id" type="text" />
               <label>Veri Koordinat ID:</label>
               <input id="verikoordinat_id" name="verikoordinat_id" type="text" />
               <label>İs Talep Tarihi:</label>
               <input id="istektalep_tarihi" name="istektalep_tarihi" type="text" />
               <label>İs Teslim Tarihi:</label>
               <input id="istekteslim_tarihi" name="istekteslim_tarihi" type="text" />
               <label>İs Açıklama:</label>
               <input id="istekaciklama" name="istekaciklama" type="text" />
               <label>İs Veri Yolu:</label>
               <input id="istekveriyolu" name="istekveriyolu" type="text" />
               <input type="submit" />

         </form>

         </div>
        {% for user in istek %}
                <li>{{user.id}}-{{user.adi}}-{{user.isteksahibi_id}}-{{user.verikooridinat_id}}-{{user.istektalep_tarihi}}</li>
        {% endfor %}


        <div id="left">
         <form method="post" action="/post_istek">
               <label>İstek Sahibi ID:</label>
               <select id="isteksahibi_id" name="isteksahibi_id">
               {% for user in istekSahibi %}
                   <option value="{{user.id}}">{{user.adi}}-{{user.soyadi}}</option>
               {% endfor %}
               </select>

               <label>İstek Adı:</label>
               <input id="istek_adi" name="istek_adi" type="text" />

               <label>Veri Format ID</label>
               <select id="veriformat_id" name="veriformat_id">
               {% for item in veriFormat %}
                   <option value="{{item.id}}">{{item.adi}}-{{item.kodu}}</option>
               {% endfor %}
               </select>

               <label>Veri Koordinat ID:</label>
               <select id="verikoordinat_id" name="verikoordinat_id">
               {% for item in veriKoordinat %}
                   <option value="{{item.id}}">{{item.adi}}-{{item.kodu}}</option>
               {% endfor %}
               </select>
               <label>İs Talep Tarihi:</label>
               <input id="istektalep_tarihi" name="istektalep_tarihi" type="text" />
               <label>İs Teslim Tarihi:</label>
               <input id="istekteslim_tarihi" name="istekteslim_tarihi" type="text" />
               <label>İs Açıklama:</label>
               <input id="istekaciklama" name="istekaciklama" type="text" />
               <label>İs Veri Yolu:</label>
               <input id="istekveriyolu" name="istekveriyolu" type="text" />
               <input type="submit" />

         </form>

         </div>
        {% for user in istek %}
                <li>{{user.id}}-{{user.adi}}-{{user.isteksahibi_id}}-{{user.verikooridinat_id}}-{{user.istektalep_tarihi}}</li>
        {% endfor %}

   </div>


</body>
{% endblock %}