<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/layout/layout.xhtml">
	<ui:define name="pageContent">


{% extends "layouts/layout1.html" %}
{% block title %}
İş istek Veri Tabanı
{% endblock %}

{% block content %}

<!--http://stackoverflow.com/questions/16903605/hide-button-after-click-with-existing-form-on-page-->

 <head>
    <style>
    .hidden-div {
        display:none
    }
    </style>
    <style>
        body{background:rgb(215,215,255);
			 padding:15px 20px 10px 10px;
			 margin:auto;
             text-align:left;
		}
    </style>

    <!-- Script Source: http://www.randomsnippets.com/2011/04/10/how-to-hide-show-or-toggle-your-div-with-jquery/-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript">

        function toggleDiv(divId) {
               $("#"+divId).toggle();
            }
    </script>

    </head>




<body  style="padding-top: 120px;">
     <!--Birim Listesi-->
    <a href="javascript:toggleDiv('birimdiv');" >Birim Listesini Göster/Kapat</a>
    <div id="birimdiv" style="display:none;">
               {% for item in birim %}

                <li class="list-group-item">{{item.id}}-{{item.birim_adi}}- <a href="/edit_birim/{{item.id}}"><button  type="button">Düzenle/Sil</button></a> </li>
           {% endfor %}
    </div>

    <!--
    <span><button id="chkbtn">Birim Listesi</button></span>
        <div class="hidden-div" id="hidden-div">
            {% for item in birim %}
                <li class="list-group-item">{{item.id}}-{{item.birim_adi}}- <a href="/edit_birim/{{item.id}}"><button  type="button">Düzenle/Sil</button></a> </li>
           {% endfor %}
        </div>
     //-->

      <!--Birim Ekleme-->
     <div id="content">
         <div id="left">
         <form method="post" action="/post_birim">
               <label>Birim Adı:</label>
               <input id="birim_adi" name="birim_adi" type="text" required placeholder="Birim Adı Giriniz" oninvalid="this.setCustomValidity('Birim bilgisi boş görünüyor!!')">
               <input type="submit" value="Ekle"/>
           </form>



       <!--İstek Sahibi Listesi-->

        <a href="javascript:toggleDiv('isteksahibidiv');" >İstek Sahibi Listesi Göster/Kapat</a>
        <div id="isteksahibidiv" style="display:none;">
          {% for item in istekSahibi %}
                <li class="list-group-item">{{item.id}}-{{item.birim_id}}-{{item.adi}}-{{item.soyadi}}-<a href="/edit_isteksahibi/{{item.id}}"><button  type="button">Düzenle/Sil</button></a></li>
        {% endfor %}
        </div>


        <!--
        </div>
        <span><button id="chkbtn">istekSahibi Listesi</button></span>
        <div >
        {% for item in istekSahibi %}
                <li class="list-group-item">{{item.id}}-{{item.birim_adi}}-{{item.adi}}-{{item.soyadi}}-<a href="/edit_isteksahibi/{{item.id}}"><button  type="button">Düzenle/Sil</button></a></li>
        {% endfor %}
        </div>
        //-->

         <!--İstek Sahibi Ekleme-->
        <div>
         <form method="post" action="/post_isteksahibi">
               <label>İstek Sahibi Birim ID:</label>
               <select id="isteksahibi_birim_id" name="isteksahibi_birim_id" >
               {% for item in birim %}
                   <option value="{{item.id}}">{{item.birim_adi}}</option>
               {% endfor %}
               </select>
               <label>İstek Sahibi Adı:</label>
               <input id="isteksahibi_adi" name="isteksahibi_adi" type="text" required placeholder="Ad Giriniz" oninvalid="this.setCustomValidity('Kişi adı bilgisi boş görünüyor!!')"/>
               <label>İstek Sahibi Soyadı:</label>
               <input id="isteksahibi_soyadi" name="isteksahibi_soyadi" type="text" required placeholder="Soyad Adı Giriniz" oninvalid="this.setCustomValidity('Kişi soyad bilgisi boş görünüyor!!')" />
             <input type="submit" value="Ekle" />

         </form>
         </div>

         <!--İstek Listesi-->

        <a href="javascript:toggleDiv('istekdiv');">İstek Listesi Göster/Kapat</a>
        <div id="istekdiv" style="display:none;">
          {% for item in istek %}
                <li class="list-group-item">{{item.id}}-{{item.adi}}-{{item.isteksahibi_id}}-{{item.verikoordinat_id}}- {{item.istekaciklama}}<a href="/edit_istek/{{item.id}}"><button  type="button">Düzenle/Sil</button></a></li>
        {% endfor %}
        </div>


         <!--İstek Ekleme-->
         <div id="left">
         <form method="post" action="/post_istek">
               <label>İstek Sahibi ID:</label>
               <select id="isteksahibi_id" name="isteksahibi_id">
               {% for user in istekSahibi %}
                   <option value="{{user.id}}">{{user.adi}}-{{user.soyadi}}</option>
               {% endfor %}
               </select>

               <label>İstek Adı:</label>
               <input id="istek_adi" name="istek_adi" type="text"  required placeholder="İş Adı Giriniz" oninvalid="this.setCustomValidity('İş Adı boş görünüyor!!')"/>

               <label>Veri Format ID</label>
               <select id="veriformat_id" name="veriformat_id">
               {% for item in veriFormat %}
                   <option value="{{item.id}}">{{item.adi}}-{{item.kodu}}</option>
               {% endfor %}
               </select>

               <label>Veri Koordinat ID:</label>
               <select id="verikoordinat_id" name="verikoordinat_id">
               {% for item in veriKoordinat %}
                   <option value="{{item.id}}">{{item.adi}}-{{item.kodu}}</option>
               {% endfor %}
               </select>
               <label>İs Talep Tarihi:</label>
               <input type="date"  id="istektalep_tarihi" name="istektalep_tarihi" type="text" />

               <label>İs Teslim Tarihi:</label>
               <input type="date"  id="istekteslim_tarihi" name="istekteslim_tarihi" type="text" />
               <label>İs Açıklama:</label>
               <input id="istekaciklama" name="istekaciklama" type="text" required placeholder="Açıklama Giriniz" />
               <label>İs Veri Yolu:</label>
               <input id="istekveriyolu" name="istekveriyolu" type="text" required placeholder="Dosya Uzantısını Giriniz" />
               <input type="submit" value="Ekle" />

         </form>

         </div>

          <!--Veri Format Listesi-->

        <a href="javascript:toggleDiv('veriformatdiv')">Veri Format Listesi Göster/Kapat</a>
        <div id="veriformatdiv" style="display:none;">
          {% for item in veriFormat %}
                <li class="list-group-item">{{item.id}}-{{item.adi}}-{{item.kodu}}-<a href="/edit_veriformat/{{item.id}}"><button  type="button">Düzenle/Sil</button></a></li>
        {% endfor %}
        </div>
             <!--Veri Format Ekleme-->

         <div id="left">
         <form method="post" action="/post_veriformat">
               <label>Veri Format Adı:</label>
               <input id="veriformat_adi" name="veriformat_adi" type="text" required placeholder="Format Adı Giriniz" oninvalid="this.setCustomValidity('Format Adı boş görünüyor!!')" />
               <label>Veri Format Kodu:</label>
               <input id="veriformat_kodu" name="veriformat_kodu" type="text" required placeholder="Format Kodunu Giriniz" />
             <input type="submit" value="Ekle" />
         </form>
     </div>

      <!--Veri Koordinat Listesi-->

        <a href="javascript:toggleDiv('verikoordinatdiv')">Veri Koordinat Listesi Göster/Kapat</a>
        <div id="verikoordinatdiv" style="display:none;">
          {% for item in veriKoordinat %}
                <li class="list-group-item">{{item.id}}-{{item.adi}}-{{item.kodu}}-<a href="/edit_verikoordinat/{{item.id}}"><button  type="button">Düzenle/Sil</button></a></li>
        {% endfor %}
        </div>

      <!--Veri Koordinat Ekleme-->
      <div id="left">
         <form method="post" action="/post_verikoordinat">
               <label>Veri Koordinat ID:</label>
               <input id="verikoordinat_id" name="verikoordinat_id" type="text" required placeholder="Koordinat SRS No Giriniz" oninvalid="this.setCustomValidity('SRS No boş görünüyor!!')"/>
               <label>Veri Koordinat Adı:</label>
               <input id="verikoordinat_adi" name="verikoordinat_adi" type="text" required placeholder="Koordinat Adını Giriniz" />
               <label>Veri Koordinat Kodu:</label>
               <input id="verikoordinat_kodu" name="verikoordinat_kodu" type="text" required placeholder="Koordinat Kodunu Giriniz" />
             <input type="submit" value="Ekle"/>
         </form>
      </div>



         <!-- This part create drop-down selectionlist
         <div>
         <form method="post" action="/post_birim">
             <select name="birim_adi">
             {% for p in birim %}
                <option value="{{ p.birim_adi }}">{{ p.birim_adi }}</option>
             {% endfor %}
             </select>
             <input type="submit" />
          </form>
          </div>
     </div>-->







   </div>


</body>
{% endblock %}